$font-size-base: 1rem;
$primary: #fed136;

$header-jumbotron-height: 300px;

$section-padding: 120px;
$section-color-alternate: #f7f7f7;

@import "lib/bootstrap/scss/bootstrap";

.page-header {
  background-image: url("images/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-dark .navbar-brand {
  padding-top: 0.2rem;
  color: $primary;
  font-style: italic;
}

.header-jumbotron {
  background-color: transparent;
  color: white;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  height: $header-jumbotron-height;

  @include media-breakpoint-up(sm) {
    height: $header-jumbotron-height + 50px;
  }
  @include media-breakpoint-up(md) {
    height: $header-jumbotron-height + 100px;
  }
  @include media-breakpoint-up(lg) {
    height: $header-jumbotron-height + 150px;
  }

  h2 {
    font-style: italic;
    margin-bottom: 0px;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.services {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .services-icon {
    border: 2px solid $primary;
    font-size: 2rem;

    /* padding-top: 0.25rem; */
    line-height: 3.75rem;
    color: $primary;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0px auto 0.75rem auto;
  }
}

.portfolio {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  
  background-color: $section-color-alternate;
}

.aboutus {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .aboutus-image {
    border-radius: 50%;
    border: 5px solid $section-color-alternate;
  }

}